// 設定RWD斷點
@import "cssReset";
$padWidth: 768px;
$desktopWidth: 1248px;
%absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

img {
    max-width: 100%;
    /*不使用width:100% 是因避免圖片解析度不好，隨父元素被放大時會糊掉*/
    height: auto;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


/* box */

// .fixedRay {
//     position: fixed;
//     top: 0;
//     left: 0;
// }
.brand {
    text-align: center;
    line-height: 76px;
    width: 80px;
    height: 80px;
    color: black;
    margin: 24px;
    float: left;
    border-radius: 50%;
    background-color: #fff;
    font-size: 20px;
    font-weight: 100;
    &:hover {
        background-color: rgb(45, 206, 69);
        transition: 0.7s;
    }
}


/* navigation */

.nav {
    max-width: $desktopWidth;
    float: right;
    li {
        float: left;
        list-style-type: none;
        margin: 16px 36px;
        color: white;
    }
}

.header_menu {
    padding: 8px 12px;
    font-weight: 100;
    a:hover {
        opacity: 50%;
        transition: 0.7s;
        border-bottom: 1px solid white;
    }
}

@media screen and (max-width:$padWidth) {
    // .nav {
    //     ul {
    //         display: none;
    //     }
    //     .showmenu {
    //         margin: 16px 36px;
    //         display: block;
    //         color: white;
    //     }
    // }
    // .header_menu {
    //     // 隱藏菜單
    //     max-height: 0;
    //     overflow: hidden;
    //     // 絕對定位在網頁上
    //     transition: 1s;
    //     position: absolute;
    //     top: 60px;
    //     left: 0;
    //     right: 0;
    // }
    // .menu_show .header_menu {
    //     max-height: 90px;
    // }
}

// banner
.banner {
    // @extend %absoluteCenter;
    max-width: 100%;
    padding: 13% 25%;
    img {
        border-radius: 30% 0 30% 0;
    }
    h1 {
        @extend %absoluteCenter;
        color: white;
        font-size: 145px;
        opacity: 70%;
        font-weight: 900;
        margin-top: 108px;
    }
    &:hover h1 {
        // opacity: 1;
        text-shadow: 1px 1px white, -5px -5px #444;
        transition: 0.7s;
    }
}

@media screen and (max-width:$padWidth) {
    .banner h1 {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        font-size: 20px;
        padding-bottom: 24px;
    }
}

@media screen and (max-width:$desktopWidth) {
    .banner h1 {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        font-size: 20px;
        padding-bottom: 24px;
    }
}

%titleFont {
    font-size: 28px;
    padding: 16px 0;
    color: white;
    font-weight: 100;
}

%paraFont {
    font-size: 16px;
    color: white;
    padding-bottom: 16px;
}

.work_container {
    max-width: 1280px;
    margin: 0 auto;
}

.web_item {
    max-width: 45%;
    margin-bottom: 60px;
    padding: 0 2.5%;
    float: left;
    h3 {
        @extend %titleFont;
    }
    p {
        @extend %paraFont;
    }
    img:hover {
        transition: 0.7s;
        transform: scale(1.5);
        opacity: 0.5;
    }
    a {
        // inline element，則需要加上 display: block 後才能設定 margin 並完成置中。
        display: block;
        max-width: 100%;
        height: 200px;
        overflow: hidden;
        // transition: 0.7s;
    }
}

@media screen and (max-width:$padWidth) {
    .web_item {
        max-width: 100%;
    }
}

.clearfix {
    clear: both;
}


/* contact */

// .contact {
//     padding: 200px 30px;
//     font-size: 36px;
//     font-weight: 600;
//     width: 100%;
//     display: flex;
//     justify-content: space-around;
//     color: white;
// }
// @media screen and (max-width:$padWidth) {
//     display: relative;
// }