// 設定RWD斷點
@import "cssReset";
$padWidth: 768px;
%absoluteCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}


/* navigation */

.navigation li {
    float: right;
    list-style-type: none;
    margin: 16px 36px;
}


/* box */

%titleFont {
    font-size: 28px;
    padding: 16px 0;
    color: white;
}

%paraFont {
    font-size: 16px;
    color: white;
    padding-bottom: 16px;
}

.work_container {
    width: 1280px;
    margin: 0 auto;
}

.web_item {
    width: 640px;
    // height: 300px;
    margin-bottom: 200px 0;
    // margin: 0 auto;
    // padding: 100px 0;
    float: left;
    h3 {
        @extend %titleFont;
    }
    p {
        @extend %paraFont;
    }
    img:hover {
        transition: 0.7s;
        transform: scale(1.5);
        opacity: 0.5;
    }
    a {
        // inline element，則需要加上 display: block 後才能設定 margin 並完成置中。
        display: block;
        width: 640px;
        height: 200px;
        overflow: hidden;
        // transition: 0.7s;
    }
}

.responsive {
    width: 100%;
    height: auto;
}

@media screen and (max-width: $padWidth) {
    .web_item {
        width: 80%;
        margin: 36px 5%;
        padding: 0 5%;
        /* background-color: gray; */
    }
}

.clearfix {
    clear: both;
}


/* contact */

.contact {
    padding: 200px 30px;
    font-size: 36px;
    font-weight: 600;
    width: 100%;
    display: flex;
    justify-content: space-around
}