a {
    text-decoration: none;
    color: black;
}


/* navigation */

.navigation li {
    float: right;
    list-style-type: none;
    margin: 16px 36px;
}


/* box */

.web_item {
    width: 30%;
    height: 300px;
    margin: 36px 5%;
    padding: 0 5%;
    float: left;
    /* background-color: gray; */
}

.responsive {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .web_item {
        width: 80%;
        /* height: 300px; */
        margin: 36px 5%;
        padding: 0 5%;
        /* background-color: gray; */
    }
}

.clearfix {
    clear: both;
}